<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size: 40px;" class="fa fa-truck fa-flip-horizontal">
            </i>
            <strong style="font-size: 30px;">Yebelo</strong>
           <!-- Actual search box -->
           <div class="search">
            <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" class="form-control" placeholder="Search">
            </div>
            </div>

  


        </div>
        <button class="btn btn-primary">
            <i style="font-size: 30px;" class="fa fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger">3</div>
        </button>
    </div>
</header>