html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
    width: 100%;
   
}

.card-top {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
}

.item img {
    width: 64px;
}

.item {
    margin: 0px 15px;
    text-align: center;
}

.item a:hover {
    color: blue;
}

.card {
    padding: 20px;
    margin: 40px;
}

.card img {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}

.card img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}
.btn-circle.btn-sm {
    width: 30px;
    height: 30px;
    
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
}
.form-group{
    margin: 20px;
}
.form-control{
    width:50%;

}

@media only screen and (max-width: 600px) {
    .card {
        padding: 20px;
        margin: 10px;
    }
  }